.navigation-bar {
  color: white;
  position: relative;
  z-index: 1;
  display: flex; }
  .navigation-bar > *:not(:last-child) {
    margin-right: 20px; }
  .navigation-bar > a {
    color: white; }
    .navigation-bar > a:hover, .navigation-bar > a:focus {
      color: #b3b3b3; }
  .navigation-bar > p {
    color: #999999;
    margin-bottom: 0; }
