@import 'styles/vars';

.navigation-bar {
  color: $white;
  display: flex;
  position: relative;
  z-index: 1;

  > *:not(:last-child) {
    margin-right: 20px;
  }

  > a {
    color: $white;

    &:hover,
    &:focus {
      color: darken($white, 30%);
    }
  }

  > p {
    color: darken($white, 40%);
    margin-bottom: 0;
  }
}
