@import 'styles/vars';

.home {
  align-items: flex-end;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &__content {
    margin-right: 5%;
    margin-top: 11%;
    max-width: 500px;
    text-align: right;

    > button {
      margin: 0;

      @media only screen and (max-width: $min-media) {
        margin-top: 20px;
        width: 50%;
      }
    }

    @media only screen and (max-width: 800px) {
      margin-top: 11%;
    }

    @media only screen and (max-width: $min-media) {
      border-bottom: 1px solid $nav-bar;
      margin-right: 0;

      margin-top: 55px;
      max-width: initial;
      padding-bottom: 70px;
      text-align: center;

      > h3 {
        margin-top: 20px;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    background-position: center;
  }

  @media only screen and (max-width: $min-media) {
    /*
       We have to use important here because we're setting the background image using an import
       in the JS code
     */
    background-image: none !important;
  }
}

@media only screen and (min-width: $min-media) {
  .page-home {
    .navigation-bar {
      > a {
        color: #0a0a0a;

        &:hover,
        &:focus {
          color: lighten(#0a0a0a, 30%);
        }
      }
    }

    .navigation {
      background: none;

      &__column {
        color: #0a0a0a;
      }

      .bm-burger-bars {
        background: #0a0a0a;
      }
    }
  }
}
